
.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5vh;
  justify-items: center;
}
.msg {
  color: #191515;
}

@media (max-width: 750px) {
  .logo-container {
    max-width: 100vw;
  }
}
@media (min-width: 751px) {
  .logo-container {
    max-width: min(80vw, 900px);
    border-radius: 10px;
  }
}
.logo-container {
  background-color: var(--container);
  transition: var(--transition-duration);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  width: 43%;
  padding: 1rem;
}
.logo-sm {
  width: 15%;
  padding: 1rem;
}
.logo-ico {
  width: 20%;
  padding: 1rem;
  float: left;
}